/* =========================== ABOUT STARTS HERE  ================================== */
#about{
}
.about-container {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4.5rem;
}
.about-row{
  display: inline-flex;
  flex-direction: row;
}
.testimonials{
  padding:1rem;
  text-align:left;
}
.about-description {
  margin: 2rem;
  align-self: baseline;
  font-size: 1.35rem;
}
.cartoon-image{
  /* border-radius: 50%; */
  height:20rem;
}
.value-heading{
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.value-section-heading{
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#about ul{
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#about ul li{
  padding-bottom: 0.5rem;
  line-height: 1.8;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1050px) {
  .about-row{
    flex-direction: row;
  }
  .about-container {
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 4.5rem;
  }
}
/* =========================== ABOUT ENDS HERE  ================================== */
