.flexColumn {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me_css{
  /* background: #f1f1f1; */
  margin-bottom: 2rem;
}

.about {
    height: 95vh;
    font-family: "Roboto Mono";
}

.about__title {
    width: 700px;
    font-weight: lighter;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #d5d5d5;
}

h1, h2, h3, p {
    margin: 0;
}

.cssCode {
    justify-content: flex-start;
    align-items: flex-start !important;
    height: 500px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 5px 5px;
    font-size: 18px;
    color: white;
    background: #404040;
}

.cssCode__class {
    text-indent: 10px;
    color: #7eb0b8;
}

.cssCode__value {
    text-indent: 50px;
}

.colorPink {
    color: #DA4167 !important;
}


.body-2 {
    display: block;
    overflow: visible;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    -webkit-transform: scale3d(1none, 1none, 1none);
    transform: scale3d(1none, 1none, 1none);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.div-block-71 {
    /* background-color: #fff9dd; */
}

.section-37 {
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading-39 {
    margin-top: 0px;
    font-family: Tiemposheadline, sans-serif;
    font-size: 36px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
}

.heading-42 {
    margin-bottom: 0px;
    font-family: Avenirnext, sans-serif;
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
}

.text-block-28 {
    margin-bottom: 40px;
    font-family: Avenirnext, sans-serif;
    font-size: 16px;
}

.heading-42 {
    margin-bottom: 0px;
    font-family: Avenirnext, sans-serif;
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
}

.heading-25 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    opacity: 1;
    font-family: Avenirnext, sans-serif;
    color: #1a1b1f;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
}

.text-block-30 {
    padding-top: 40px 20px 20px 40px;
    font-family: Avenirnext, sans-serif;
    font-size: 16px;
}
