body {
  margin:0;
  padding:0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
/* =========================== GREETING STARTS HERE  ================================== */
#greeting{
  font-family: 'Viaoda Libre', cursive;
}
.greeting-row{
  width:65%;
  margin:3rem;
  margin-top: 10rem;;
}
.description{
  font-size: 3.5em;
  margin-block-start: 1em;
}
.color-1{
  color:#8FCACA;
  display: inline-block;
}
.color-2{
  color:#FFBF91;
  display: inline-block;
}
.color-3{
  color: #D4D479;
  display: inline-block;
}
.color-4{
  color: #CCE2CB;
  display: inline-block;
}
.color-5{
  color: #FCB9AA;
  display: inline-block;
}
.color-6{
  color: #E67C73;
  display: inline-block;
}
/* =========================== GREETING ENDS HERE  ================================== */

/* =========================== PORTFOLIO STARTS HERE  ================================== */
#portfolio{
  box-sizing: unset;
}
.work-container{
  margin-top:5rem;
}
.portfolio-heading{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.projects-list{
  display: flex;
  flex-wrap: wrap;
}
.tile{
  margin: 1rem;
}
.project-icon:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-icon{
  width: 42rem;
}
/* =========================== PORTFOLIO ENDS HERE  ================================== */

/* =========================== FOOTER STARTS HERE  ================================== */
.footer-wrap{
text-align:center;
padding-top:3rem;
padding-left:3rem;
padding-right:3rem;
}
/* =========================== FOOTER ENDS HERE  ================================== */
