body{
  margin:0;
  padding:0;
  margin-block-start:0em;
  margin-block-end:0em;
}

#roots{
  line-height:1.8em;
}
hr {
 color: rgba(232,232,232,.53);
 background-color: rgba(232,232,232,.53);
}
.project-text-container{
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.project-header-img{
  width:100%;
}
.project-intro{
  display: inline-flex;
  flex-wrap: wrap;
}
.project-varlist{
  list-style: none;
  padding-inline-start:0;
  width: 50%;
  display: inline-flex;
}
.project-varlist li{
  padding-bottom:0.2rem;
}
.project-variables{
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.project-specifics{
  line-height: 1.6em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.quote{
  line-height: 2em;;
}
.quote-person{
  float: right;
  padding:0.5rem;
}
.project-background{
}
.project-ideation{
}
.bold-sentence{
  text-align: center;
  font-size: 2em;
  padding: 2rem;
}
.project-section-heading{
  font-size:2.5em;
  /* padding-bottom:2rem; */
}
.sub-heading-container{
  display:flex;
}
.sub-heading{
  width:25%;
  padding-right: 1rem;
  margin-block-start:0;
  text-transform: uppercase;
}
.sub-heading-content{
  width:75%;
  padding-bottom:2rem;
}
.footer-wrap{
  bottom: 20px;
}
.project-example{
  background: white;
  box-shadow: 0 8px 24px -12px rgba(0,0,0,.75);
  width:40rem;
  border-radius: 16px;
  padding:0;
  margin-bottom:1rem;
}
.other-projects{
  display:inline-flex;
  width:100%;
  flex-wrap: wrap;
}
.other-project-img{
  margin:2rem;
  width:35rem;
  vertical-align: middle;
}
.other-project-img:hover{
  box-shadow: 0 8px 24px -12px rgba(0,0,0,.75);
}
.other-projects-heading{
  text-align:center;
  text-transform: uppercase;
  color:grey;
  font-size: 1.8rem;
}
