.review-container {
  display: flex;
}

.review-sidebar {
  width: 25%;
  position: fixed;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 1rem;
}

.review-content {
  width: 75%;
  margin-left: 25%;
  padding: 1rem;
}

.stars {
  color: #d81159;
}
